<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
                Camerental
            {% endblock %}
        </title>
        {% load static %}
        {% block css %}
            <link rel="stylesheet" type="text/css"
                href="{% static 'cameras/style.css' %}"/>
        {% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <div id="header">
                <div id="headerBar">
                    <div id="logoBlock">
                        <h1>
                            <span class="colorBlack">CAMER</span><span class="colorRed spacingNone">ental</span>
                        </h1>
                        <h2>
                            CAMERA RENTAL HOUSE
                        </h2>
                    </div>
                    <div id="navBlock">
                        <nav>
                            <ul>
                                <li>
                                    <a href="{% url 'camera_list_view' %}">
                                        Cameras
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main>
        {% block content %}
            This is where the content lives.
        {% endblock %}
        <footer>
            <div id="footer">
                <a class="colorWhite alignRight" href="/admin">Django Admin</a>
            </div>
        </footer>
        </main>
    </body>
</html>