{% extends parent_template|default:"inventory/base_camera.html" %}

{% block title %}
{{ block.super }} - Cameras
{% endblock %}

{% block content %}
  <div id="bodyContainer">
      <div id="bodyHeader">
          <h3>Cameras</h3>
          <h4>Available for rent.</h4>
      </div>
    {% if cameras %}
      <ul>
          {% for camera in cameras %}
            <li class="item_listing"><a href="/inventory/{{ camera.camera_id}}/">
                   {{ camera.model }}</a></li>
          {% endfor %}
      </ul>
    {% else %}
      <p>No cameras available</p>
    {% endif %}
  </div>

{% endblock %}